// hero section below header
.hero {
  background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.5)), url('../images/uxray-feedback.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;


}

.hero h1 {
  text-align: center;
  color: $color-back;
  margin-top: 6rem;
  margin-bottom: 4rem;
}
@media #{$breakpoint-medium} {
  .hero h1{margin-top: 14rem;}
}
@media #{$breakpoint-large} {
  .hero h1{margin-top: 18rem;}
}

section h2 {
  text-align: center;
}

.hero p {
  color: $color-text-light;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 2rem;
}
.hero a {
  width: 10rem;
  z-index: 1;
}
.btn-right, .btn-left {
    text-align: center;
}



@media #{$breakpoint-medium} {
  .btn-right{text-align:right;}
  .btn-left{text-align: left;}
}

.mdl-layout__drawer is-visible {
  z-index: 999;
}
// Zebra background stripes
.even-bg {
  background: $even-bg;
}
.odd-bg {
  background: $odd-bg;
}

// How it works
.how-it-works,.features{
  text-align: center;
}
.how-it-works .material-icons {
  font-size: 2.2rem;
  color: red;
}

// why use UXRAY

.why-uxray ul {
  margin-top: 66.6px;
  vertical-align: middle;
}
